.btn {
    --color: #61DAEE;
    --color2: rgb(10, 25, 30);
    padding: 0.4em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

.btn::after,
.btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
    transform: skew(40deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
    transform: skew(40deg) translate(-50%, -50%);
}

.btn:hover {
    color: var(--color2);
}

.btn:active {
    filter: brightness(.7);
    transform: scale(.98);
}

/* Стили для размера кнопки */
.medium {
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .large {
    padding: 12px 24px;
    font-size: 16px;
  }
  
  .small {
    padding: 8px 16px;
    font-size: 12px;
  }

/* Стили для отключённой кнопки */
.btn:disabled {
    color: #4A9BB0;
    border-color: #4A9BB0;
    cursor: not-allowed;
    opacity: 0.7;
}

.btn:disabled:hover {
    color: #4A9BB0;
}

.btn:disabled:hover::before {
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:disabled:hover::after {
    transform: skew(90deg) translate(-50%, -50%);
}